* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 250px;
    background-color: white;
    color: black;
}

#promt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
}

.buttons {
    display: flex;
    margin: 100px;
    gap: 100px;
}

button {
    height: 100px;
    width: 250px;
    font-size: 25px;
    font-weight: 700;
    background-color: black;
    border: 2px solid white;
    color: white;
}

button:hover {
    font-size: 27px;
    font-weight: 800;
    background-color: white;
    border: 3px solid black;
    color: black;
}

button:active {
    background-color: black;
    transform: translateY(4px);
    font-size: 27px;
    font-weight: 900;
    border: 4px solid white;
    color: white;
}

.image-button {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

img {
    border-radius: 15%;
    height: 200px;
    width: 250px;
    border: 2px solid white;
    padding: 25px;
    border: 2px solid black;
    border-radius: 25%;
}

.scores {
    display: flex;
    gap: 250px;
}